<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NuGet.Common" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Configuration" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Core" version="2.13.0" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Packaging" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Packaging.Core" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Packaging.Core.Types" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.Types" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.v2" version="3.5.0" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.v3" version="4.2.0" targetFramework="net46" />
  <package id="NuGet.Versioning" version="4.2.0" targetFramework="net46" />
  <package id="Photon.Framework" version="0.0.69" targetFramework="net46" />
  <package id="Photon.MSBuild" version="0.0.4" targetFramework="net46" />
  <package id="Photon.NuGet" version="0.0.12" targetFramework="net46" />
</packages>